[user]
	name = Jiamu Sun
	email = barroit@linux.com
[init]
	defaultBranch = master
[credential]
	helper = store
[core]
	autocrlf = input
	editor = vim
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpuser = baiorettohr@gmail.com
	smtpencryption = tls