[user]
	name  = Jiamu Sun
	email = barroit@linux.com

[init]
	defaultBranch = master

[credential]
	helper = store

[core]
	autocrlf = input
	editor   = vim
	abbrev   = 12

[format]
	useAutoBase

[fetch]
	prune = true

[advice]
	detachedHead = false

[pretty]
	Fixes = Fixes: %h (\"%s\")
