[user]
	name  = Jiamu Sun
	email = sunjiamu@outlook.com

[init]
	defaultBranch = master

[credential]
	helper = store

[core]
	autocrlf = input
	editor   = vim
	abbrev   = 12

[fetch]
	prune = true

[advice]
	detachedHead = false

[pretty]
	fixes = fixes: %h (\"%s\")
