[Unit]
Description=Unmount onedrive
DefaultDependencies=no
# Before=shutdown.target sleep.target
Before=shutdown.target

[Service]
Type=oneshot
#	<BR>ExecStart=%s<BR> $HOME/umount-onedrive.sh
ExecStart=/home/barroit/umount-onedrive.sh

[Install]
# WantedBy=shutdown.target sleep.target
WantedBy=shutdown.target
