{
	"workbench.colorTheme": "Default Dark Modern",
	"files.autoSave": "onFocusChange",
	"editor.fontFamily": "'JetBrains Mono'",
	"editor.fontSize": 20,
	"editor.insertSpaces": false,
	"editor.tabSize": 8,
	"editor.occurrencesHighlight": "off",
	"editor.selectionHighlight": false,
	"editor.matchBrackets": "never",
	"workbench.editor.doubleClickTabToToggleEditorGroupSizes": "off",
	"workbench.colorCustomizations": {
		"editorBracketHighlight.foreground1": "#C8C8C8",
		"editorBracketHighlight.foreground2": "#C8C8C8",
		"editorBracketHighlight.foreground3": "#C8C8C8",
		"editorBracketHighlight.foreground4": "#C8C8C8",
		"editorBracketHighlight.foreground5": "#C8C8C8",
		"editorBracketHighlight.foreground6": "#C8C8C8",
		"editor.background": "#141414"
	},
	"files.associations": {
		".gdb*": "plaintext",
		"README": "plaintext"
	},
	"editor.tokenColorCustomizations": {
		"textMateRules": [
			{
				"scope": "constant.language.c",
				"settings": {
					"foreground": "#BF61CB"
				}
			},
			{
				"scope": "constant.other.placeholder",
				"settings": {
					"foreground": "#CE9178"
				}
			},
			{
				"scope": [
					"keyword.control",
					"support.type.posix-reserved.c"
				],
				"settings": {
					"foreground": "#569CD6"
				}
			},
			{
				"scope": [
					"entity.name.type.c",
					"entity.name.function.preprocessor",
					"variable",
					"variable.parameter",
					"string.regexp",
					"constant.character.escape",
					"keyword.operator"
				],
				"settings": {
					"foreground": "#C8C8C8"
				}
			},
			{
				"scope": [
					"keyword.control.directive.include.c",
					"keyword.control.directive.define.c",
					"comment"
				],
				"settings": {
					"foreground": "#A8A8A6"
				}
			}
		]
	},
	"explorer.confirmDelete": false,
	"editor.minimap.enabled": false,
	"editor.scrollbar.horizontal": "hidden",
	"extensions.ignoreRecommendations": true,
	"editor.guides.indentation": false,
	"window.restoreWindows": "none",
	"explorer.confirmDragAndDrop": false,
	"editor.quickSuggestions": {
		"other": "off"
	},
	"editor.suggestOnTriggerCharacters": false,
	"C_Cpp.dimInactiveRegions": false,
	"C_Cpp.enhancedColorization": "disabled",
	"C_Cpp.errorSquiggles": "disabled",
	"C_Cpp.default.intelliSenseMode": "linux-gcc-x64",
	"C_Cpp.default.compilerPath": "${env:HOME}/.local/bin/gcc",
	"C_Cpp.default.defines": [
		"_GNU_SOURCE"
	],
	"C_Cpp.default.cStandard": "gnu17",
	"C_Cpp.default.includePath": [
		"${env:HOME}/.local/include/**",
		"${workspaceFolder}/src/**"
	],
	"git.openRepositoryInParentFolders": "never",
	"cmake.configureOnOpen": false,
	"cmake.showOptionsMovedNotification": false,
	"window.zoomLevel": 3,
	"explorer.autoReveal": false,
	"explorer.confirmPasteNative": false,
	"fileHeaderComment.parameter": {
		"*": {
			"author": "Jiamu Sun",
			"contact": "barroit@linux.com"
		}
	},
	"fileHeaderComment.template": {
		"*": [
			"${cbegin}",
			"${cprefix}",
			"${cprefix} Copyright ${year} ${author}",
			"${cprefix} Contact: ${contact}",
			"${cprefix}",
			"${cprefix} This file is part of ${project}.",
			"${cprefix}",
			"${cprefix} ${project} is free software: you can redistribute it and/or modify it",
			"${cprefix} under the terms of the GNU General Public License as published by the",
			"${cprefix} Free Software Foundation, either version 3 of the License, or (at your",
			"${cprefix} option) any later version.",
			"${cprefix}",
			"${cprefix} ${project} is distributed in the hope that it will be useful, but",
			"${cprefix} WITHOUT ANY WARRANTY; without even the implied warranty of",
			"${cprefix} MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU",
			"${cprefix} General Public License for more details.",
			"${cprefix}",
			"${cprefix} You should have received a copy of the GNU General Public License along",
			"${cprefix} with ${project}. If not, see <https://www.gnu.org/licenses/>.",
			"${cprefix}",
			"${cend}"
		]
	},
	"workbench.activityBar.location": "top",
	"window.commandCenter": false,
	"workbench.layoutControl.enabled": false,
	"files.insertFinalNewline": true,
	"workbench.editor.enablePreview": false,
	"editor.unicodeHighlight.includeStrings": false
}
